# sphinx build directories
_build/

# dotfiles
.*
!.gitignore
!.gitmodules
!.github
!.mailmap
!.weblate.json
# compiled python files
*.py[co]
__pycache__/
# setup.py egg_info
*.egg-info
# emacs backup files
*~
# hg stuff
*.orig
status
# odoo filestore
odoo/filestore
# maintenance migration scripts
odoo/addons/base/maintenance
# window installation config file
/odoo.conf

# log files (may contain secrets/credentials)
*.log
logOdoo.log

# generated for windows installer?
install/win32/*.bat
install/win32/meta.py

# needed only when building for win32
setup/win32/static/less/
setup/win32/static/wkhtmltopdf/
setup/win32/static/postgresql*.exe

# js tooling
node_modules
jsconfig.json
tsconfig.json
package-lock.json
package.json
.husky

# various virtualenv
/bin/
/build/
/dist/
/include/
/lib/
/man/
/share/
/src/
addons/contacts/__pycache__/__init__.cpython-313.pyc
addons/contacts/models/__pycache__/__init__.cpython-313.pyc
addons/contacts/models/__pycache__/res_partner.cpython-313.pyc
addons/contacts/models/__pycache__/res_users.cpython-313.pyc
addons/crm/__pycache__/__init__.cpython-313.pyc
addons/crm/controllers/__pycache__/__init__.cpython-313.pyc
addons/crm/controllers/__pycache__/main.cpython-313.pyc
addons/crm/models/__pycache__/__init__.cpython-313.pyc
addons/crm/models/__pycache__/calendar.cpython-313.pyc
addons/crm/models/__pycache__/crm_lead_scoring_frequency.cpython-313.pyc
addons/crm/models/__pycache__/crm_lead.cpython-313.pyc
addons/crm/models/__pycache__/crm_lost_reason.cpython-313.pyc
addons/crm/models/__pycache__/crm_payment_method.cpython-313.pyc
addons/crm/models/__pycache__/crm_recurring_plan.cpython-313.pyc
addons/crm/models/__pycache__/crm_relationship_type.cpython-313.pyc
addons/crm/models/__pycache__/crm_stage.cpython-313.pyc
addons/crm/models/__pycache__/crm_team_member.cpython-313.pyc
addons/crm/models/__pycache__/crm_team.cpython-313.pyc
addons/crm/models/__pycache__/digest.cpython-313.pyc
addons/crm/models/__pycache__/ir_config_parameter.cpython-313.pyc
addons/crm/models/__pycache__/mail_activity.cpython-313.pyc
addons/crm/models/__pycache__/res_config_settings.cpython-313.pyc
addons/crm/models/__pycache__/res_partner_bank.cpython-313.pyc
addons/crm/models/__pycache__/res_partner.cpython-313.pyc
addons/crm/models/__pycache__/res_users.cpython-313.pyc
addons/crm/models/__pycache__/utm.cpython-313.pyc
addons/crm/report/__pycache__/__init__.cpython-313.pyc
addons/crm/report/__pycache__/crm_activity_report.cpython-313.pyc
addons/crm/wizard/__pycache__/__init__.cpython-313.pyc
addons/crm/wizard/__pycache__/crm_lead_lost.cpython-313.pyc
addons/crm/wizard/__pycache__/crm_lead_pls_update.cpython-313.pyc
addons/crm/wizard/__pycache__/crm_lead_to_opportunity_mass.cpython-313.pyc
addons/crm/wizard/__pycache__/crm_lead_to_opportunity.cpython-313.pyc
addons/crm/wizard/__pycache__/crm_merge_opportunities.cpython-313.pyc
addons/crm/wizard/__pycache__/LOPDDocumentWizard.cpython-313.pyc
addons/crm/wizard/__pycache__/outlook_message_wizard.cpython-313.pyc
